.addSkill {
  padding-top: 50px;
}
.addProv {
  padding-top: 50px;
}
.addcity {
  padding-top: 50px;
}

.addprov {
  padding-top: 50px;
}

.addBrgy {
  padding-top: 50px;
}

.btn-center {
  text-align: center;
  padding: 15px;
}

.CRUD {
  padding: 10px;
}
